body {
  background-color: #192a56 !important;
}

.TiendaApp {
  display: flex;
  justify-content: center;
}

.boton_login{
  text-decoration: none;
  padding: 25px;
  font-weight: 600;
  font-size: 100px;
  border-radius: 15px;
  border: 2px solid #EDD8D8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}
.boton_login:hover{
  background-color: gray;
}
